h2 {
    color: white;
    padding-left: 20px;
    
}

#banner {
    background-color: black;
    padding-top: 5px;
    padding-left: 5px;
    color: white;
}

#container-tabela {
    padding: 30px;
}

#logo {
        width:50%;
        height:50%;
}

.panel-heading{
    font-size:150%;
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

h11 {
    color:red;
}

#form-container {
    padding: 25px;
}

#linha {
    padding-bottom: 20px;
}
